body {
  
  background-size: 100px 100px;
  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}

img {
  border: 1px solid #ddd;
  border-radius: 73px;
  padding: 5px;
  width: 150px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  p.outset {border-style: outset;}
  border-style: solid;
  border-color: black;
}

h1, p {
  
  text-align: center;
}

.exp-header {
  
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-color: black 
  
}

h4 {
    text-decoration: underline;
}

ul {
  
  div 
  width: 300px;
  border: 10px solid grey ;
  padding: 15px;
  margin: 20px;
}



