body {
  
  --stripe: #cfd8dc;
  --bg: #e1e1e1;
  

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

img {
  border: 1px solid #ddd;
  border-radius: 73px;
  padding: 5px;
  width: 150px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  p.outset {border-style: outset;}
  border-style: solid;
  border-color: black;
}

h1, p {
  
  text-align: center;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: var(--stripe);
}

h4 {
    text-decoration: underline;
}

ul {
  div 
  width: 300px;
  border: 10px solid grey ;
  padding: 15px;
  margin: 20px;
}

